
table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    margin: auto;
    float: left;
    text-align: left;
}
table, td, th {
    padding: 5px;
    text-align: left;
    border: 1px solid rgb(8,48,107);
}
th {
    background-color: rgb(8,81,156);
    color: white;
}
td {
    max-width: 450px;
}
td.col-title {
    width: 450px;
}
td.col-project, td.col-time {
    width: 130px;
}
td.col-category, td.col-app {
    width: 160px;
}
.col-project th {
    font-size: 8px;
    padding: 5px 0;
}
td.col-data, tr.col-data {
    display: inherit;
}
#table-controls {
    clear: both;
}
#tabs-data , #tabs-projects {
    width: 45%;
    float: left;
    max-width: 340px;
}
button#load-data {
    width: 280px;
}
#project-form {
    float: none;
    clear: both;
}
hr {
    clear: both;
    height: 3px;
}
div#restructured-data {
    clear: both;
    float: left;
}
tr.selected {
    background-color: yellowgreen;
}
#project-toggles {
    clear: both;
}
#loading-overlay {
    background-color: gray;
    opacity: .8;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#loading-text {
    background-color: deepskyblue;
    opacity: 1;
    width: 20%;
    height: 200px;
    position: absolute;
    top: 300px;
    left:30%;
}
input[type="text"] {

}
#total-mod, #total-automod {
    width: 80px;
}